<head>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>

<header>
  <h1>Cool Blog</h1>
</header>


<div id="showPosts">
  <h2><%= @post.name %></h2>
  <p><%= @post.author %></p>
  <p><%= @post.content %></p>

  <% name = @post.tags.map{ |tag| tag.name} %>
  <% id = @post.tags.map{ |tag| tag.id} %>

  <p>Tags on this post: <a href="/tags/<%= id[0] %>"><%= name[0] %></a></p>

  <form action="/posts" method="post">
    <input name="_method" type="hidden" value="delete">
    <%= token_tag form_authenticity_token %>

    <button> Delete </button>

  </form>
</div>

<div class="links">
  <a href="/posts">Back to all posts</a><br>
  <a href="/tags">View all tags</a>
</div>

